footer.footersec.row {
    background: #484747;
    color: white;
}

footer.footersec.row {
    a{
        color: white;
    }
}

.stview{

    color:#0078ff
}
.container-fluid{
    background: #f2f2f2;
}
.bg-light {
    background-color: #1e2503 !important;
}
.cardsec{
    border: 2px solid #696767;
    margin: 10px 20px 6px 10px;
    padding-bottom: 8px;
    border-radius: 8px;
}